<form method="POST" action="">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
    <input
      placeholder="Anh là ai"
      name="search"
      type="text"
      class="mb-4 form-control"
    />
    <select name="choose" id="gender">
      <option value="">--Select your option</option>
      <option value="Male">Male</option>
      <option value="FeMale">Female</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>